@using Microsoft.AspNetCore.Identity
@using Projeto1_IF.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @* Links de acordo com o perfil (Role) do usuário logado. *@
    if (User.IsInRole("Medico") || User.IsInRole("Nutricionista"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TbPacientes" asp-action="Index">Meus Pacientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MeuCadastro" asp-action="Index">Meu Cadastro</a>
        </li>
    }
    if (User.IsInRole("GerenteMedico") || User.IsInRole("GerenteNutricionista") || User.IsInRole("GerenteGeral"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Profissionais" asp-action="Index">Profissionais</a>
        </li>
    }
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
